body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #333;
    padding: 60px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.register-form input[type="email"],
.register-form input[type="text"],
.register-form input[type="password"] {
    padding: 15px; 
    font-size: 80;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 6px; 
}

.gender {
    display: flex;
    align-items: center;
    gap: 20px; /* Increased gap between elements */
    margin-top: 15px; /* Increased margin-top */
}

.gender label {
    color: #fff;
    font-size: 18px;
}

.gender input[type="radio"]:checked + span {
    background-color: #007bff; /* Selected radio color */
}



.gender input[type="radio"]:checked + span::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.register-link a {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    color: #00994d; 
}

.register-form button {
    padding: 15px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px; 
    font-size: 18px; 
    transition: background-color 0.3s ease;
}

.register-form button:hover{
    background-color: #00994d;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}